@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Old Standard TT', serif;
    font-size: 150%;
    color: white;
}

.spacer600 {
    margin-top: 600px;
}

.spacerbottom100 {
    margin-bottom: 100px;
}

.spacerbottom10 {
    margin-bottom: 10px;
}

.spacerbottom600 {
    margin-bottom: 600px;
}

.border-bottom-10 {
    border-bottom: 10px solid rgb(213, 196, 67) !important;
}

.border-top-10 {
    border-top: 10px solid black !important;
}

.custom-header-image {
    //background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

.headerimage:before {
    content: "";
    position: fixed;
    left: -5px;
    right: 0;
    top: -5px;
    z-index: -1;
    
    display: block;
    //background-image: url('https://dummyimage.com/1200x800/949494/000000&text=background+placeholder+1');
    background-image: url("../img/jungle-background.jpg");
    width: 2000px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    border-left: 6px
  }

  .border6px{
      border: rgb(213, 196, 67) 6px solid;
  }

.custom-image-size{
    height: 300px;
    width: 300px;
}

.custom-collumn-box {
    background: rgb(23, 31, 52); /* Fallback for older browsers without RGBA-support */
    background: rgba(23, 31, 52, 0.8);
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

